
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Police Station details</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <form action="/action_page.php">
    <div class="form-group">
      <label for="id">Police ID:</label>
      <input type="number" class="form-control" id="p_id" placeholder="Enter Police Station ID" name="p_id">
    </div>
    <div class="form-group">
      <label for="name">Police Name</label>
      <input type="text" class="form-control" id="p_name" placeholder="Enter Police Reporter Name" name="p_name">
    </div>
    <div class="form-group">
      <label for="desig">Police Designation:</label>
      <input type="text" class="form-control" id="p_des" placeholder="Enter Police Designation" name="p_des">
    </div>
    <div class="form-group">
      <label for="email">Police Station ID:</label>
      <input type="number" class="form-control" id="s_id" placeholder="Enter Police Station ID" name="s_id">
    </div>
    <div class="form-group">
      <label for="loc">Location:</label>
      <input type="text" class="form-control" id="loc" placeholder="Enter Location" name="loc">
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="remember"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
\
</body>
</html>
